<section class="header" ng-controller="HeaderCtrl">
	<section class="alwaysVisible">
		<h1 id="mainTitle">Weather</h1>
		
		<input id="hamburger" class="headerButton" type="button" ng-click="toggleMenu()" value="Options"/>
		<div class="locationButton" ng-click="coordinatesSeek()">
			<span id="symbolContent">&#10138; </span>
			<span id="verbalContent">My location</span>
		</div>
	</section>
	<section ng-show="visibility">
	  <form ng-submit="performSearch()">
	    <label for="search">Search for a place: </label>
	    <input type="text" name="search" ng-model="keyword" placeholder="London, GB"/>
	    <input type="submit" class="headerButton" value="Search"/>
	  </form>
	</section>

	<section ng-controller="PrefferencesCtrl">
	  <section class="prefferencesSection" ng-show="visibility">
		  <h3 class="clear prefferenceTitle">What makes sense?</h3>
		  <input ng-click="setCelsius()"  type="button" class="headerButton" value="&deg;C"/>
		  <input ng-click="setFarenheit()" type="button" class="headerButton" value="&deg;F"/>
		  <h3 class="clear prefferenceTitle">Want to geek out?</h3>
		  <input ng-click="toggleGeekMode()" type="button" class="headerButton" value="Geek mode"/>
	  </section>
	  <div class="starredList" ng-class="starredListStatus">
	  	<img alt="Starred locations" src="images/star.svg" ng-click="toggleStarredList()";/>
	  	<div ng-repeat="location in starred()">
	  	<p class="starredItem" ng-click="goToId(location.id)">{{location.name}},{{location.country}}</p>
	  	</div>
	  	<div style="clear:both"></div>
	  </div>
	</section>
</section>