<section class="weatherData" ng-controller="SinglecityCtrl">
  <h1 class="mainTitle">Weather in {{name}}</h1>
  
  <div class="situation">
    <img class="situationIcon" ng-src="images/svg_icons_black/{{icon}}.svg" alt="{{word}}"/>
    <p>{{description | titlecaps}}</p>
  </div>

  <div class="numerics">
    <h2 class="temperature">{{temperature | temperature:getUnit()}}</h2>
    <h2 class="locationName">{{name}}, {{country}}</h2>
    <p class="geekData" ng-show="getGeekMode()">
      <span ng-show="lat">Latitude&nbsp;{{lat}}</span>
      <span ng-show="lon"> Longitude&nbsp;{{lon}}</span>
      <!-- Could add time data for the location here -->
      <span ng-show="humidity"> Humidity&nbsp;{{humidity}}%</span>
      <span ng-show="pressure"> Pressure&nbsp;{{pressure}}&nbsp;hPA</span>
      <span ng-show="visibility">  Visibility&nbsp;{{visibility}}&nbsp;m</span>
    </p>
  </div>  
  <section class="geekStuff">
    <input type="button" class="cityButton" value="{{homeButtonValue()}}" ng-click="setHome()" ng-class="homeButtonClass()"/>
    <input type="button" class="cityButton" value="{{favoriteButtonValue()}}" ng-click="toggleFavoriteState()" ng-class="favoriteButtonClass()"/><br>
    <div class="geekData" ng-show="getGeekMode() && windSpeed && windDegrees">
      <winddirection direction="{{windDegrees}}"></winddirection><br>
      Wind&nbsp;{{windDegrees}}&deg;&nbsp;{{windSpeed}}m/s
    </div>
    <div class="geekData" ng-show="getGeekMode() && cloudiness">
      <cloudcover percentage="{{cloudiness}}"></cloudcover><br>
      Cloud&nbsp;cover&nbsp;{{cloudiness}}%
    </div>
  </section>
  
  <section class="forecasts">
    <h3>Hourly Forecast</h3>
    <hourly-graph forecast="forecast" offset="UTCoffset" unit="{{getUnit()}}"></hourly-graph>
    <table>
      <tbody>
        <tr ng-repeat="item in forecast">
          <td>{{item.dt | time:UTCoffset | forecastDay}}</td>
          <td>{{item.dt | time:UTCoffset | forecastHours}}</td>
          <td>{{item.main.temp | temperature:getUnit()}}</td>
          <td class="situationDescriptionCell">{{item.weather[0].description | titlecaps}}</td>
          <td class="situationIconCell"><img class="situationIcon" ng-src="images/svg_icons_black/{{item.weather[0].icon}}.svg" alt="{{word}}"/></td>
        </tr>
      </tbody>
    </table>
  </section>

</section>